<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<!-- línea importante para que la base de datos, pueda funcionar sin problema-->
		<add name="cadena" connectionString="Data Source=C:\Users\Camilo Cañaveral\source\repos\ecity\app_console\ConsoleApp1\consoleAppDB.db;version=3" providerName="System.Data.SqliteClient" />
		<!--- Se necesita para hacer la conexion a la base de datos-->
	</connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>